@import '~@angular/material/theming';
@import '../../custom-theme.scss';

.mat-header-cell > div, .mat-cell > div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.mat-header-cell:not(:last-child), .mat-cell:not(:last-child) {
  padding-right: 6px;
}

#import-container {
  padding-top: 16px;
}

.custom-spinner {
  display:inline-block;
}

.left-margin {
  margin-left: 10px
}

.app-all-quotes {
  max-height: calc(100vh - 65px);
  display: block;
  overflow-y: auto;
}

.mat-expansion-panel-header, .mat-expansion-panel-header:hover, .mat-expansion-panel-header:focus {
  &.mat-expanded {
    background-color: map_get($candy-app-primary,900);
  }
  background-color: map_get($candy-app-primary,900);
  color: white;
}


.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header {
  &:not([aria-disabled='true']) {
    &.cdk-keyboard-focused,
    &.cdk-program-focused,
    &:hover {
      background-color: map_get($candy-app-primary,900);
    }
  }
}

// Disable the hover on touch devices since it can appear like it is stuck. We can't use
// `@media (hover)` above, because the desktop support browser support isn't great.
@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true'])
    .mat-expansion-panel-header:hover {
      background-color: map_get($candy-app-primary,900);
  }
}

.mat-expansion-panel-header-title {
  color: white
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: white
}

.mat-expansion-panel-header[aria-disabled='true'] {
  color: white;

  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    color: inherit;
  }
}


.mat-button.active {
  color: map_get($candy-app-accent,900);
}

.button {
  cursor: pointer;
}