<mat-card>
  <mat-card-title>
   Add Quotes to your Playlist
  </mat-card-title>
  <mat-card-content>

    <p>In this Dialog you can add Quotes from your Quotes-Database to your currently selected Playlist</p>

    <mat-card>
      <mat-card-content>
        <img src="./assets/img/add-quotes-to-playlist-screenshot_1.jpg" width="100%" class="float-left">
        <mat-list>
          <mat-list-item><img src="./assets/img/stamp1t.png" class="small-stamp">
            <p>Click on the select field to select all shown quotes</p>
          </mat-list-item>
          <mat-list-item><img src="./assets/img/stamp2t.png" class="small-stamp">
            <p>Click on the select field of a single quote to select that one quote</p>
          </mat-list-item>
          <mat-list-item><img src="./assets/img/stamp3t.png" class="small-stamp">
            <p>Quotes that have already been added to your playlist will be greyed in. You are free to add them
              multiple times though.</p>
          </mat-list-item>
          <mat-list-item><img src="./assets/img/stamp4t.png" class="small-stamp">
            <p>Once you have selected all Quotes that you want to add to your playlist, click <strong>Add selected
                Quote(s)</strong>. The quotes will be added to your playlist.</p>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
      </mat-card>
  </mat-card-content>
</mat-card>