<mat-card>
  <mat-card-title>
    Playing your Quotes in the Popup QuotePlayer
  </mat-card-title>
  <mat-card-content>
    <p>In order to open the QuotePlayer, click on the <img src="../iconk.png"> icon in the row of installed extensions
      of Chrome.</p>
    <p>Inside the QuotePlayer you have a few options to chose from:
      <ul>
        <li>set the <b>interval</b> in which a new Quote shall be shown</li>
        <li><b>select a playlist</b> in the drop-down, that you want to play</li>
        <li>start <mat-icon>play_arrow</mat-icon> or stop <mat-icon>stop</mat-icon> the QuotePlayer</li>
        <li>open the Admin Page (click on <button mat-flat-button color="primary">Manage Quotes</button>),
          where you can manage your Quotes and also manage Playlists and report a bug</li>
      </ul>
      <p>
        <mat-icon>warning</mat-icon> Under <b>Windows</b>> the Notification Sound might easily annoy you.
        In order to switch it off I recommend this 
        <a href="https://www.groovypost.com/howto/turn-off-change-windows-10-notification-sounds/">instruction</a>

      </p>
  </mat-card-content>
</mat-card>