<mat-card>
  <mat-card-title>
    Playing your Quotes in the QuotePlayer
  </mat-card-title>
  <mat-card-content>
    <p>In order to <strong>open</strong> the QuotePlayer, click on the <img src="../iconk.png">extension icon in Chrome
      Toolbar</p>
    <p>Inside the QuotePlayer you have a few options to chose from:</p>
    <mat-card>
      <mat-card-content>
        <img src="./assets/img/popup-screenshot_1.jpg" class="float-left">
        <mat-list>
          <mat-list-item><img src="./assets/img/stamp1t.png" class="small-stamp">
            <p>set the &nbsp;<b>interval</b>&nbsp;
              in which a new Quote shall be shown</p>
          </mat-list-item>
          <mat-list-item><img src="./assets/img/stamp2t.png" class="small-stamp">
            <p><b>select a playlist</b>&nbsp;in the
              drop-down, that you want to play</p>
          </mat-list-item>
          <mat-list-item><img src="./assets/img/stamp3t.png" class="small-stamp">
            <p>start <mat-icon>play_arrow</mat-icon>
              or stop <mat-icon>stop</mat-icon> the QuotePlayer. <br />
              <mat-icon>warning</mat-icon>While the QuotePlayer is playing, the extension icon in the toolbar is orange <img src="../iconk-run.png"></p>
          </mat-list-item>
          <mat-list-item><img src="./assets/img/stamp4t.png" class="small-stamp">
            <p>open the Admin Page (click on &nbsp;<strong>Manage Quotes</strong>),
              where you can manage your Quotes and also manage Playlists and report a bug</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>