<mat-toolbar color="primary">
  
  <a mat-button [routerLink]="['/quotes']" routerLinkActive="mat-accent" #qrla="routerLinkActive"><span>Quotes</span></a>
  <button mat-icon-button color="accent" (click)="info.openInfoDialog('quotes')" *ngIf="qrla.isActive">
    <mat-icon>info</mat-icon>
  </button>
  <a mat-button [routerLink]="['/playlists']" routerLinkActive="mat-accent"#prla="routerLinkActive"><span>Playlists</span></a>
  <button mat-icon-button color="accent" (click)="info.openInfoDialog('playlists')" *ngIf="prla.isActive">
    <mat-icon>info</mat-icon>
  </button>
  <span class="app-spacer"></span>
  <img src="/app2/assets/img/Titel.png" alt="Quote Player">
  <span class="app-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon></button>
  <mat-menu #appMenu="matMenu" yPosition="below" [overlapTrigger]="false">
    <button mat-menu-item (click)="report()">Report a bug</button>
  </mat-menu>
  
</mat-toolbar>
<mat-divider></mat-divider>