.highlight{
    background: #f8e8ae;
  }

  .item.item2 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
  }

  .item.item1 .mat-card, .item.item2 .mat-card {
    background-color: #fff1be;
  }

  .item.item1 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }

  .mat-header-cell > div, .mat-cell > div{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left:11px;
}

.quotes-in-playlist mat-cell:first-child {
  padding-left: 0px;
}

.custom-spinner {
  display:inline-block;
}

.quotes-in-playlist .mat-row {cursor: -webkit-grab; cursor: grab;}

.mat-card {
  height: 60px;
}

.app-all-playlists {
  max-height: calc(100vh - 64px);
  display: block;
  overflow-y: auto;
}