<div class="app-all-playlists">

  <mat-accordion id="quote-accordion" displayMode="flat">

    <mat-expansion-panel class="mat-expansion-panel-1" [expanded]="panelOpenState" (closed)="panelOpenState = false"
      (opened)="panelOpenState = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-button [class.active]="panelOpenState">Add
            a new Playlist</button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-playlist [playlist]="editElement"></app-playlist>
    </mat-expansion-panel>

  </mat-accordion>
  <mat-divider></mat-divider>
  
  <div class="item item1">

    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="delete(element)">
            <mat-icon>delete</mat-icon>
            <mat-spinner class="custom-spinner-1" *ngIf="element.deletePLInProgress" [diameter]="25"></mat-spinner>
          </button>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'highlight': selectedPlaylist?.ID == row.ID}"></mat-row>
    </mat-table>
    <mat-toolbar color="accent" *ngIf="dataSource.length < 1"> There are no Playlists saved yet.</mat-toolbar>

  </div>
  <div class="item item2">
    <mat-toolbar color="accent" *ngIf="!selectedPlaylist"> You have not selected a Playlist yet. Please select one on
      the left.</mat-toolbar>

    <div *ngIf="selectedPlaylist" class="selected-playlist-container">
      <mat-card>
        <mat-card-title>{{selectedPlaylist?.name}}</mat-card-title>
        <mat-card-content>
          <button mat-stroked-button color="accent" (click)=addQuoteDialog()>Add Quotes
            <mat-spinner class="custom-spinner-2" *ngIf="addQuotesInProgress" [diameter]="25"></mat-spinner>
          </button>

        </mat-card-content>
      </mat-card>
      <mat-table #table [dataSource]="selectedPlaylist?.quoteDocs" class="quotes-in-playlist" dragula="QUOTES"
        [(dragulaModel)]='selectedPlaylist.quoteDocs'>

        <ng-container matColumnDef="quote">
          <mat-header-cell *matHeaderCellDef> Quote </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index" [matTooltip]="element.quote" matTooltipPosition="right"
            matTooltipShowDelay="1000">
            <div>
              <mat-chip color="accent" selected>{{i + 1}}</mat-chip> {{element.quote}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
          <mat-cell *matCellDef="let element" [matTooltip]="element.author" matTooltipPosition="right"
          matTooltipShowDelay="1000"> 
          <div>{{element.author}}</div> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="source">
          <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
          <mat-cell *matCellDef="let element" [matTooltip]="element.source" matTooltipPosition="right"
          matTooltipShowDelay="1000"> 
          <div>{{element.source}}</div> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tags">
          <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-chip-list *ngFor="let tag of element.tags">
              <mat-chip>{{tag}}</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;">
            <button mat-button (click)="deleteQuote(element,i)">
              <mat-icon>delete</mat-icon>
              <mat-spinner class="custom-spinner-3" *ngIf="element.deleteInProgress" [diameter]="25"></mat-spinner>
            </button>
          </mat-cell>
        </ng-container>

        <!-- <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns2;let i = index"></mat-row>
      </mat-table>
      <mat-toolbar color="accent" *ngIf="selectedPlaylist?.quoteDocs < 1"> There are no Quotes saved for this Playlist
        yet. Please add new Quote(s)</mat-toolbar>

    </div>
  </div>
</div>