<mat-card>
  <mat-card-title>
    How to import Quotes from an Excel File
  </mat-card-title>
  <mat-card-content>
    <p>1. Click on the folder Icon and then choose the excel file you want to import from your computer.</p>
    <p>2. Click on the enabled "Import Quotes from Excel" Button (next to the folder icon)</p>
    <p>The file can contain only one table and that table has to follow certain specifications</p>
      <p>(otherwise the "Quote Player" wont be able to interpret the data correctly).</p>
    <ul>
      <li>the first row (1) has to contain four fields (from A to D) with the EXACT words:<br />
        quote | author | source | tags
      </li>
      <li>each quote is entered in a new row (e.g. row 2:A-D)</li>
      <li>the quote column always has to be filled out, the other columns are optional</li>
      <li>if you want to add more than one tag for one quote, you have to seperate the tags by "," - e.g.
        "responsibility, vision"</li>
    </ul>

    <p>Here is a screenshot of an example Excel File:</p>
    <img src="/app2/assets/img/excel-example.png" width="500px" alt="Image could not be found, please make a bug report">

  </mat-card-content>
</mat-card>
