.mat-header-cell > div, .mat-cell > div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.mat-column-select {
    overflow: initial;
    margin-right: 8px;
  }

  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
      border: none;
  }