<mat-card>
  <mat-card-content>
    <form [formGroup]="quoteForm" (ngSubmit)="onSubmit()" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
      fxLayoutGap.xs="0">

      <mat-form-field fxFlex="16%">
        <textarea matInput type="text" formControlName="quote" placeholder="Quote"></textarea>
      </mat-form-field>

      <mat-form-field fxFlex="16%">
        <input matInput type="text" formControlName="author" placeholder="Author">
      </mat-form-field>

      <mat-form-field fxFlex="16%">
        <input matInput type="text" formControlName="source" placeholder="Source">
      </mat-form-field>

      <tag-input formControlName="tags" fxFlex="16%"></tag-input>

      <div fxFlex="16%"></div>
      <div fxFlex="16%">
        <button mat-button [disabled]="quoteForm.pristine" type="reset">
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-button [disabled]="quoteForm.pristine" type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>


    </form>
  </mat-card-content>
</mat-card>