<mat-card>
  <mat-card-content>
    <form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
      <section>
        <mat-form-field>
          <textarea matInput type="text" formControlName="quote" placeholder="Quote"></textarea>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <input matInput type="text"  formControlName="author" placeholder="Author">
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <input matInput type="text"  formControlName="source" placeholder="Source">
        </mat-form-field>
      </section>

      <button mat-button [disabled]="quoteForm.pristine" type="reset">
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-button [disabled]="quoteForm.pristine" type="submit">
        <mat-icon>send</mat-icon>
      </button>

    </form>
  </mat-card-content>
</mat-card>
