<mat-card>
  <mat-card-title>
    The Quote notifications
  </mat-card-title>
  <mat-card-content>
    <p>Depending on your Operating System, your Chrome Version and Chrome Settings, different kinds of Notifications
      will be used to <strong>play</strong> your Quotes to you.
    </p>
  <h1 class="headline">
    Chrome Notifications
  </h1>
  <p><strong>Chrome Notifications</strong> look like this</p>
  <mat-card>
      <mat-card-content>
        <img src="./assets/img/chrome-notification-screenshot_1.jpg" class="float-left">
        <mat-list>
          <mat-list-item><img src="./assets/img/stamp1t.png" class="small-stamp">
            <p>the <strong>Next Quote</strong> button close the notification and
              play the next Quote after the <strong>Interval</strong>,
              that you set in the QuotePlayer.</p>
          </mat-list-item>
          <mat-list-item><img src="./assets/img/stamp2t.png" class="small-stamp">
            <p>the <strong>Stop</strong> button, will close the notification and
              stop the Player. No next Quote will be played.y</p>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>
  <h1 class="headline">
    Windows Notifications
  </h1>
    <p><strong>Windows Notifications</strong> look like this</p>
    <mat-card>
      <mat-card-content>
        <img src="./assets/img/win-notification-screenshot_1.jpg" class="float-left">
        <mat-list>
          <mat-list-item><img src="./assets/img/stamp1t.png" class="small-stamp">
            <p>the <strong>Next Quote</strong> button close the notification and
              play the next Quote after the <strong>Interval</strong>,
              that you set in the QuotePlayer.</p>
          </mat-list-item>
          <mat-list-item><img src="./assets/img/stamp2t.png" class="small-stamp">
            <p>the <strong>Stop</strong> button, will close the notification and
              stop the Player. No next Quote will be played.y</p>
          </mat-list-item>
          <mat-list-item><img src="./assets/img/stamp3t.png" class="small-stamp">
            <p>this <strong>Hide in action center</strong> button will Hide
              the notification in the windows action center.<br />
              <mat-icon>warning</mat-icon> The notification is still open (but hidden)! In order to stop or play the
              next quote, you will have to open the Windows action center and close or next-quote
              the notification there.
              <img src="./assets/img/win-notification-screenshot_2.jpg">
            </p>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>

    <p class="clear-float">
      Under Windows the <strong>Notification Sound</strong> might easily annoy you.</p>
    <p>In order to switch off the Notification Sound for <strong>All Windows Notifications</strong> I recommend this
      <a href="https://www.groovypost.com/howto/turn-off-change-windows-10-notification-sounds/">instruction</a>
    </p>
    <p>In order to switch off the Notification Sound for <strong>Chrome notifications only</strong> I recommend this
    <a href="https://www.faqforge.com/windows/windows-10/how-to-turn-off-notification-and-system-sounds-in-windows-10/">instruction</a></p>
  </mat-card-content>
</mat-card>