<mat-card class="player title">
  <mat-card-content>
      <img src="/app2/assets/img/Titel.png" alt="Quote Player">
  </mat-card-content>
</mat-card>
<mat-card class="player">
  <mat-card-content>



    <form [formGroup]="playlistForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Time between Quotes" formControlName="speed" [disableControl]="state.running" type="time" step="1"
          class="time-field">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Select Playlist" aria-label="Assignee" matInput formControlName="playlist" [matAutocomplete]="auto"
          [disableControl]="state.running" class="playlists-field">
        <mat-autocomplete color="accent" #auto="matAutocomplete" [displayWith]="displayFn" class="popup-autocomplete">
          <mat-option *ngFor="let playlist of state.playlists" [value]="playlist">
            {{playlist.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-flat-button color="accent" id="play" (click)="startTimer()" [disabled]="state.running" matTooltip="Start showing Quotes"
      class="play-button">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-flat-button color="accent" id="stop" (click)="stopTimer()" [disabled]="!state.running" class="stop-button">
      <mat-icon>stop</mat-icon>
    </button>

  </mat-card-content>
  <mat-card-content class="popup-footer">
    <button mat-flat-button color="primary" (click)="openEditPage()" class="edit-button">
      Manage Quotes
    </button>

  </mat-card-content>

</mat-card>