<mat-card class="player">
  <mat-card-content>



    <form [formGroup]="playlistForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Time between Quotes" formControlName="speed" [disableControl]="state.running"
          type="time" step="1">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Select Playlist" aria-label="Assignee" matInput formControlName="playlist" [matAutocomplete]="auto" [disableControl]="state.running">
        <mat-autocomplete color="accent" #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let playlist of state.playlists" [value]="playlist">
            {{playlist.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-button color="accent" id="play" (click)="startTimer()" [disabled]="state.running" matTooltip="Start showing Quotes">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-button color="accent" id="stop" (click)="stopTimer()" [disabled]="!state.running">
      <mat-icon>stop</mat-icon>
    </button>

  </mat-card-content>
  <mat-card-content class="popup-footer">
    <button mat-button color="primary" (click)="openBackground()">
      Edit Playlists
    </button>

  </mat-card-content>

</mat-card>