<mat-table #table matSort (matSortChange)="sortingChanged($event)" [dataSource]="paginatedDatasource">

  <ng-container matColumnDef="select" *ngIf="selectQuotes">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="quote">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <mat-form-field>
        <input matInput (keyup)="applyFilter('quote', $event.target.value)" placeholder="Filter Quotes">
      </mat-form-field>

    </mat-header-cell>
    <mat-cell *matCellDef="let element" [matTooltip]="element.quote" matTooltipPosition="right" matTooltipShowDelay="1000">
      <div>{{element.quote}}</div>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>
      <button *ngIf="selectQuotes" mat-flat-button (click)="emitSelectedQuotes()" color="accent">Add Selected Quote(s)</button>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="(dataSource | datasourceFilter:filterArgs).length"
        showFirstLastButtons (page)="handlePageEvent($event)"></mat-paginator>
    </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <mat-form-field>
        <input matInput (keyup)="applyFilter('author', $event.target.value)" placeholder="Filter Authors">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" [matTooltip]="element.author" matTooltipPosition="right" matTooltipShowDelay="1000"> 
      <div>{{element.author}}</div> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="source">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <mat-form-field>
        <input matInput (keyup)="applyFilter('source', $event.target.value)" placeholder="Filter Sources">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" [matTooltip]="element.source" matTooltipPosition="right" matTooltipShowDelay="1000"> 
      <div>{{element.source}}</div> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <input matInput (keyup)="applyFilter('tags', $event.target.value)" placeholder="Filter Tags">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-chip-list *ngFor="let tag of element.tags">
        <mat-chip color="primary" selected>{{tag}}</mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="playlists">
    <mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <input matInput (keyup)="applyFilter('playlists', $event.target.value)" placeholder="Filter Playlists">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-chip-list *ngFor="let playlist of element.playlists?.filter(onlyUnique)">
        <mat-chip>{{playlist}}</mat-chip>
      </mat-chip-list>

    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit" *ngIf='editColumn'>
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button (click)="edit(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="delete(element)">
        <mat-icon>delete</mat-icon>
        <mat-spinner class="custom-spinner" *ngIf="element.deleteInProgress" [diameter]="25"></mat-spinner>
      </button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <mat-footer-row *matFooterRowDef="['quote']; sticky: true">
  </mat-footer-row>
</mat-table>

<mat-toolbar color="accent" *ngIf="dataSource.length < 1"> There are no Quotes saved yet. Please add or import new
  Quote(s)</mat-toolbar>