@import '~@angular/material/theming';
@import '../../custom-theme.scss';

.mat-header-cell > div, .mat-cell > div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.mat-header-cell:not(:last-child), .mat-cell:not(:last-child) {
  padding-right: 6px;
}

#import-container {
  padding-top: 16px;
}

.custom-spinner {
  display:inline-block;
}

.left-margin {
  margin-left: 10px
}

.app-all-quotes {
  max-height: calc(100vh - 64px);
  display: block;
  overflow-y: auto;
}

.mat-expansion-panel-header, .mat-expansion-panel-header:hover, .mat-expansion-panel-header:focus {
  &.mat-expanded {
    background-color: map_get($candy-app-primary,900);
  }
  background-color: map_get($candy-app-primary,900);
}

.mat-button.active {
  color: map_get($candy-app-accent);
}