<div class="app-all-quotes">
  <mat-accordion id="quote-accordion" displayMode="flat">

    <mat-expansion-panel class="mat-expansion-panel-1" [expanded]="panelOpenState" (closed)="panelOpenState = false" (opened)="panelOpenState = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-button (click)="chooseOption(true); $event.stopPropagation()" [class.active]="panelOpenState && quoteExpanded">Add
            a new Quote</button>
          <button mat-button (click)="chooseOption(false); $event.stopPropagation()" [class.active]="panelOpenState && !quoteExpanded">Import
            Quotes from Excel File</button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="quoteExpanded">
        <app-quote [quote]="editElement"></app-quote>
      </div>
      <div *ngIf="!quoteExpanded">
        <mat-form-field>
          <ngx-mat-file-input [formControl]="excelFile" placeholder="Select Excel File to Import" accept=".xls, .xlsx"></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        <button class="left-margin" mat-raised-button color="accent" (click)='importExcel()' [disabled]="excelFile.pristine || excelFile.untouched || excelFile.invalid">Import
          Quotes from Excel
          <mat-spinner class="custom-spinner" *ngIf="importInProgress" [diameter]="25"></mat-spinner>
        </button>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
  <mat-divider></mat-divider>
  <app-quotes-table (editQuote)="setEditQuote($event)" editColumn="true"></app-quotes-table>



</div>