.mat-header-cell > div, .mat-cell > div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.mat-header-cell:not(:last-child), .mat-cell:not(:last-child) {
  padding-right: 6px;
}

#import-container {
  padding-top: 16px;
}

#quote-accordion .mat-expansion-panel{
  background: rgb(240,240,240)
}