@import '~@angular/material/theming';
@import '../../custom-theme.scss';

.app-spacer {
    flex: 1 1 auto;
  }

  #title {
    font-size: larger;
  }

  .mat-button {
    font-size: 100%;
  }
  
  .mat-divider {
    border-top-color: map-get($candy-app-primary,600)
  }