<mat-toolbar color="primary">
  <button mat-button color="accent">Documentation</button>
  <span class="app-spacer"></span>
</mat-toolbar>
<div class="inner-container">
  <div class="main-container" #mainContainer cdkScrollable>
    TEagfösldgfksdfgsdg
    sfdg
    sd<br/>
    fg<br/>
    sd
    fg
    sfdggsd
    <app-popup-info #internalLink></app-popup-info>
    <app-windows-notification-info #internalLink></app-windows-notification-info>
    <app-quotes-info #internalLink></app-quotes-info>
    <app-import-excel #internalLink></app-import-excel>
    <app-playlists-info #internalLink></app-playlists-info>
    <app-selected-playlist-info #internalLink></app-selected-playlist-info>
  </div>
  <div class="side-container content-background">
    <mat-list>
      <mat-list-item *ngFor="let item of contentItems">
          <button mat-button type="button" color="primary"
          (click)="scrollTo(item)">
          {{getText(item)}}
        </button>
      </mat-list-item>
      
    </mat-list>
  </div>

</div>