.side-container {
    width: 25%;
    max-height: calc(100vh - 129px);
    overflow: auto;
    position: fixed;
    right: 0;
} 

.main-container {
    width: 75%;
    margin-right: 25%;
    max-height: calc(100vh - 129px);
    overflow: auto;
    position:fixed;
}