<form [formGroup]="quoteForm" (ngSubmit)="onSubmit()" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
  fxLayoutGap.xs="0">

  <div fxFlex="16%" fxLayout fxLayout.xs="row" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <mat-form-field fxFlex="100% 0" fxFlexAlign="end">
      <textarea matInput type="text" formControlName="quote" placeholder="Enter a new Quote" matTextareaAutosize></textarea>
    </mat-form-field>
  </div>

  <div fxFlex="16%" fxLayout fxLayout.xs="row" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <mat-form-field fxFlex="100% 0" fxFlexAlign="end">
      <input matInput type="text" formControlName="author" placeholder="New Author" fxFlex="100%">
    </mat-form-field>
  </div>

  <div fxFlex="16%" fxLayout fxLayout.xs="row" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <mat-form-field fxFlex="100% 0" fxFlexAlign="end">
      <input matInput type="text" formControlName="source" placeholder="New Source" fxFlex="100%">
    </mat-form-field>
  </div>

  <div fxFlex="16%" fxLayout fxLayout.xs="row" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <mat-form-field fxFlex="100% 0" fxFlexAlign="end">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of tags; let i = index" [selectable]="selectable" [removable]="removable" (removed)="removeTag(i)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New tag" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div fxFlex="16%" fxLayout fxLayout.xs="row" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0">
  </div>


  <div fxFlex="16%" fxLayout fxLayout.xs="row" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="100% 0" fxFlexAlign="end" class="mat-form-field-wrapper">
      <button mat-button [disabled]="quoteForm.untouched || quoteForm.invalid" type="reset" (click)="extraReset()">
        <mat-icon>cancel</mat-icon>
      </button>
      <button (click)="submitForm()" type="button" mat-button [disabled]="quoteForm.pristine || quoteForm.invalid">
        <mat-icon>send</mat-icon>
        <mat-spinner class="custom-spinner" *ngIf="saveInProgress" [diameter]="25"></mat-spinner>
      </button>
      
    </div>

  </div>


</form>